@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
	
</div>
<div id="background-image">
	<img id="bg" src="https://sun9-10.userapi.com/impg/gc68HSx3mg-fzZOons6T3RlN5xIp72hjvsL_bg/aMVHkY5HG7o.jpg?size=810x1080&quality=95&sign=4ea2a79c39a36b5abbd46cb594a18dcb&type=album" />
</div>

